@import "../../styles/utils";


.destinations_section{
    padding: 60px 0;
    scroll-margin-top: 50px;
    .destinations_wrapper{
        margin-top: 35px;
        :global(.row){
            --bs-gutter-x: 25px;
            --bs-gutter-y: 25px;
        }
        .destination_item{
            border: 1px solid $bg-color-2;
            display: block;
            text-decoration: none;
            height: 100%;
            overflow: hidden;
            .img_wrapper{
                width: 100%;
                figure{
                    --bs-aspect-ratio: calc((250/335) * 100%);
                    img{
                        transition: 0.3s all ease-in-out;
                        will-change: transform;
                    }
                }
            }
            @include hover{
                .img_wrapper{
                    img{
                        transform: scale(1.05);
                    }
                }
            }
            .destination_content{
                padding: 15px;
                .destination_title{
                    font-size: 18px;
                    font-weight: $bold;
                    color: $black;
                    line-height: 1.4;
                    font-family: $primary-font;
                    margin-bottom: 0;
                }
                .destination_desc{
                    font-size: 14px;
                    color: $black;
                    line-height: 1.3;
                    font-weight: $regular;
                    margin-top: 12px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}