// deafult Color
$primary-color : #fe0018 !default;
$secondary-color : #0759FF !default; 

$font-color: #0000008c;

$primary-font : 'Oxygen', sans-serif;
$secondary-font : 'Lexend', sans-serif;

// Custom-color

$bg-color-1 : #efefef !default;
$bg-color-2 : #e6e6e6 !default;
$bg-color-3 : #F4F4F9 !default;
$bg-color-4 : #10083E !default;
$bg-color-5 : #06161e !default;

$text-color1: #222 !default;
$text-color2: #00184A !default;
$text-color3: #0C1F39 !default;

$dark-bg: #20222E !default;
$dark-gray: #323241 !default;
$light-bg: #EBF3FF !default;
$text-color: #1D1D1D !default;
$title-color: #1D1D1D !default;
$hover :$primary-color;
$border-color: #E6E6E6 !default;
$text-alt: #282828 !default;
$text-off: #281107 !default;
$white: #fff !default;
$black: #000 !default;
$red: #C60C02 !default;


$d-ico: 'deafult-icons' !default;
//button
$font-light:300;
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-extrabold: 900;
$font-weight-title: $font-semibold;

$regular : 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

$header-z:999;
$filter-z:99;

